#logoElisa{
    width: 100px;
    margin: 10px;

}
li.nav-item a.nav-link.prova:hover{
    color: white;
    background-color: #1BB8FF;
    cursor: pointer;
   

}

li.nav-item a.nav-link.prova2:hover{
    color: white;
    background-color: #FFCA49;
   

}

li.nav-item a.nav-link.prova{
    color:  #1BB8FF;
    transition: 0.5s background-color;
    transition: 0.5s color;
    border: 2px solid #1BB8FF;
    border-radius: 7px;
    margin-right: 10px;
    margin-top:7px;
    padding: 10px;
    text-align: center;
    
}

li.nav-item a.nav-link.prova2{
    border: 2px solid #FFCA49;
    color:#FFCA49;
    border-radius: 7px;
    margin-right: 10px;
    transition: 0.5s background-color;
    transition: 0.5s color;
    margin-top:7px;
    padding: 10px;
    text-align: center;
    
}



a.nav-link.prova3{

    color: red;
}







