div.modal-content{
    background-color: white;
}

.btn{
   background-color: #FFCA49;
   margin-bottom: 10px;
   margin-top: 35px;
}

img.logo{
    height: 80px;
    margin: auto;
}

div.login{
    text-align: center;
    display: inline-block;
    margin-right: 5px;
}

div.divGeneral div{
    background-color: #1BB8FF;
    
}

div.icon{
    background-color: #FFCA49;
}



.box{
    margin: auto;
    margin-top: 20px;
}

p.change{
    color: #1BB8FF;
    display: inline-block;
}

p.change:hover{
    color: rgb(22, 141, 196);
}