img.stars{
    height: 25px;
    width: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}

img.disabled{
   
    pointer-events:none;
    opacity: 0.5;
    filter: alpha(opacity=65);
}

img.active:hover{
    transform: scale(1.2);
}



