img.restaurantImage{
    height: 150px;
    border-radius: 10px;
}

h3.popover-header{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

div.stars-container{
    text-align: center;
}

p{
    text-align: right;
    color: #1BB8FF;
}

p:hover{
    color: rgb(22, 141, 196);
}

